.e13_79343 { 
	overflow:hidden;
}
.e13_79343 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e13_79344 { 
	box-shadow:0px 3px 1px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 0.8999999761581421);
	width:1440px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79344_7577_54206 { 
	width:1120px;
	height:48px;
	position:absolute;
	left:12px;
	top:8px;
}

.searchicon { 
	width: 24;
	height: 24;
	position:absolute;
	left:1310px;
	top:20px;
}

.ei13_79344_7577_54210 { 
	width:24px;
	height:24px;
	position:absolute;
	left:16px;
	top:6px;
}
.ei13_79344_7577_54210_7475_72892 { 
	background-color:rgba(0, 0, 0, 0.8700000047683716);
	width:17.489999771118164px;
	height:17.489999771118164px;
	position:absolute;
	left:3.255000114440918px;
	top:3.255000114440918px;
}
.ei13_79344_7577_54211 { 
	width:63px;
	height:24px;
	position:absolute;
	left:48px;
	top:6px;
}
.ei13_79344_7577_54211_6605_52865 { 
	color:rgba(0, 0, 0, 0.8700000047683716);
	opacity:0.41999998688697815;
	width:63px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79344_10306_129894 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1332px;
	top:8px;
}
.ei13_79344_10306_129895 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1380px;
	top:8px;
}
.ei13_79344_10306_129895_10112_136051 { 
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}
.ei13_79344_10306_129895_10144_141856 { 
	width:24px;
	height:24px;
	position:absolute;
	left:12px;
	top:12px;
}
.ei13_79344_10306_129895_10144_141856_7475_69572 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei13_79344_10279_132012 { 
	width:0.0000027975293050985783px;
	height:64px;
	position:absolute;
	left:1428px;
	top:0px;
}
.e13_79345 { 
	color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:152px;
	height:36px;
	position:absolute;
	left:75px;
	top:14px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:-4;
}
.e13_79346 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1350px;
	top:20px;
}
.ei13_79346_97_1501 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79346_97_1501_4918_84336 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.454246520996094px;
	height:20px;
	position:absolute;
	left:2.272876739501953px;
	top:2px;
}
.e13_79347 { 
	box-shadow:0px 0px 0px rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:422px;
	position:absolute;
	left:60px;
	top:102px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79347_9543_98281 { 
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_9543_98281_9543_100222 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_9543_98281_9543_100222_9447_95052 { 
	width:64px;
	height:64px;
	position:absolute;
	left:152px;
	top:68px;
}
.ei13_79347_9543_98281_9543_100222_9447_95052_7475_59726 { 
	background-color:rgba(0, 0, 0, 0.25999999046325684);
	width:48px;
	height:48px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei13_79347_7726_78981 { 
	width:368px;
	height:222px;
	position:absolute;
	left:0px;
	top:200px;
}
.ei13_79347_7726_78981_6640_52020 { 
	width:336px;
	height:190px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei13_79347_7726_78981_6640_52020_9574_111410 { 
	color:rgba(25.000000409781933, 118.00000056624413, 210.00000268220901, 1);
	width:336px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.10000000149011612;
}
.ei13_79347_7726_78981_6640_52020_9574_111409 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:22px;
}
.ei13_79347_7726_78981_6640_52020_9574_111409_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_7726_78981_6640_52020_9574_111409_9140_90475 { 
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_7726_78981_6640_52020_9574_111405 { 
	color:rgba(0, 0, 0, 0.8700000047683716);
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
}
.ei13_79347_7726_78981_6640_52020_9574_111411 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:62px;
}
.ei13_79347_7726_78981_6640_52020_9574_111411_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_7726_78981_6640_52020_9574_111411_9140_90475 { 
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_7726_78981_6640_52020_9574_111430 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:336px;
	height:72px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79347_7726_78981_6640_52020_9574_111413 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:142px;
}
.ei13_79347_7726_78981_6640_52020_9574_111413_9159_95435 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_7726_78981_6640_52020_9574_111413_9140_90469 { 
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79347_7726_78981_6640_52020_9574_111431 { 
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:158px;
}
.ei13_79347_7726_78981_6640_52020_9574_111433 { 
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei13_79347_7726_78981_6640_52020_9574_111433_6588_47685 { 
	background-color:rgba(232.00000137090683, 234.00000125169754, 246.0000005364418, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.ei13_79347_7726_78981_6640_52020_9574_111433_6588_47687 { 
	width:49px;
	height:24px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei13_79347_7726_78981_6640_52020_9574_111433_6588_47688 { 
	color:rgba(63.000000044703484, 81.00000277161598, 181.0000044107437, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0.1599999964237213;
	line-height:px;
}
.e13_79348 { 
	box-shadow:0px 0px 0px rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:422px;
	position:absolute;
	left:60px;
	top:548px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79348_9543_98281 { 
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_9543_98281_9543_100222 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_9543_98281_9543_100222_9447_95052 { 
	width:64px;
	height:64px;
	position:absolute;
	left:152px;
	top:68px;
}
.ei13_79348_9543_98281_9543_100222_9447_95052_7475_59726 { 
	background-color:rgba(0, 0, 0, 0.25999999046325684);
	width:48px;
	height:48px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei13_79348_7726_78981 { 
	width:368px;
	height:222px;
	position:absolute;
	left:0px;
	top:200px;
}
.ei13_79348_7726_78981_6640_52020 { 
	width:336px;
	height:190px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei13_79348_7726_78981_6640_52020_9574_111410 { 
	color:rgba(25.000000409781933, 118.00000056624413, 210.00000268220901, 1);
	width:336px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.10000000149011612;
}
.ei13_79348_7726_78981_6640_52020_9574_111409 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:22px;
}
.ei13_79348_7726_78981_6640_52020_9574_111409_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_7726_78981_6640_52020_9574_111409_9140_90475 { 
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_7726_78981_6640_52020_9574_111405 { 
	color:rgba(0, 0, 0, 0.8700000047683716);
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
}
.ei13_79348_7726_78981_6640_52020_9574_111411 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:62px;
}
.ei13_79348_7726_78981_6640_52020_9574_111411_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_7726_78981_6640_52020_9574_111411_9140_90475 { 
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_7726_78981_6640_52020_9574_111430 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:336px;
	height:72px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79348_7726_78981_6640_52020_9574_111413 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:142px;
}
.ei13_79348_7726_78981_6640_52020_9574_111413_9159_95435 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_7726_78981_6640_52020_9574_111413_9140_90469 { 
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79348_7726_78981_6640_52020_9574_111431 { 
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:158px;
}
.ei13_79348_7726_78981_6640_52020_9574_111433 { 
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei13_79348_7726_78981_6640_52020_9574_111433_6588_47685 { 
	background-color:rgba(232.00000137090683, 234.00000125169754, 246.0000005364418, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.ei13_79348_7726_78981_6640_52020_9574_111433_6588_47687 { 
	width:49px;
	height:24px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei13_79348_7726_78981_6640_52020_9574_111433_6588_47688 { 
	color:rgba(63.000000044703484, 81.00000277161598, 181.0000044107437, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0.1599999964237213;
	line-height:px;
}
.e13_79349 { 
	box-shadow:0px 0px 0px rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:435px;
	position:absolute;
	left:1011px;
	top:583px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79349_9543_98281 { 
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_9543_98281_9543_100222 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_9543_98281_9543_100222_9447_95052 { 
	width:64px;
	height:64px;
	position:absolute;
	left:152px;
	top:68px;
}
.ei13_79349_9543_98281_9543_100222_9447_95052_7475_59726 { 
	background-color:rgba(0, 0, 0, 0.25999999046325684);
	width:48px;
	height:48px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei13_79349_7726_78981 { 
	width:368px;
	height:246px;
	position:absolute;
	left:0px;
	top:200px;
}
.ei13_79349_7726_78981_6640_52020 { 
	width:336px;
	height:214px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei13_79349_7726_78981_6640_52020_9574_111410 { 
	color:rgba(25.000000409781933, 118.00000056624413, 210.00000268220901, 1);
	width:336px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.10000000149011612;
}
.ei13_79349_7726_78981_6640_52020_9574_111409 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:22px;
}
.ei13_79349_7726_78981_6640_52020_9574_111409_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_7726_78981_6640_52020_9574_111409_9140_90475 { 
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_7726_78981_6640_52020_9574_111405 { 
	color:rgba(0, 0, 0, 0.8700000047683716);
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
}
.ei13_79349_7726_78981_6640_52020_9574_111411 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:62px;
}
.ei13_79349_7726_78981_6640_52020_9574_111411_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_7726_78981_6640_52020_9574_111411_9140_90475 { 
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_7726_78981_6640_52020_9574_111430 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:336px;
	height:96px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79349_7726_78981_6640_52020_9574_111413 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:166px;
}
.ei13_79349_7726_78981_6640_52020_9574_111413_9159_95435 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_7726_78981_6640_52020_9574_111413_9140_90469 { 
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79349_7726_78981_6640_52020_9574_111431 { 
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei13_79349_7726_78981_6640_52020_9574_111433 { 
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei13_79349_7726_78981_6640_52020_9574_111433_6588_47685 { 
	background-color:rgba(232.00000137090683, 234.00000125169754, 246.0000005364418, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.ei13_79349_7726_78981_6640_52020_9574_111433_6588_47687 { 
	width:49px;
	height:24px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei13_79349_7726_78981_6640_52020_9574_111433_6588_47688 { 
	color:rgba(63.000000044703484, 81.00000277161598, 181.0000044107437, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0.1599999964237213;
	line-height:px;
}
.e13_79350 { 
	box-shadow:0px 0px 0px rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	background-color:rgba(255, 255, 255, 1);
	width:369px;
	height:441px;
	position:absolute;
	left:535px;
	top:556px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79350_9543_98281 { 
	width:369px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_9543_98281_9543_100222 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:369px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_9543_98281_9543_100222_9447_95052 { 
	width:64px;
	height:64px;
	position:absolute;
	left:153px;
	top:68px;
}
.ei13_79350_9543_98281_9543_100222_9447_95052_7475_59726 { 
	background-color:rgba(0, 0, 0, 0.25999999046325684);
	width:48px;
	height:48px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei13_79350_7726_78981 { 
	width:369px;
	height:246px;
	position:absolute;
	left:0px;
	top:200px;
}
.ei13_79350_7726_78981_6640_52020 { 
	width:337px;
	height:214px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei13_79350_7726_78981_6640_52020_9574_111410 { 
	color:rgba(25.000000409781933, 118.00000056624413, 210.00000268220901, 1);
	width:337px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.10000000149011612;
}
.ei13_79350_7726_78981_6640_52020_9574_111409 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:22px;
}
.ei13_79350_7726_78981_6640_52020_9574_111409_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_7726_78981_6640_52020_9574_111409_9140_90475 { 
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_7726_78981_6640_52020_9574_111405 { 
	color:rgba(0, 0, 0, 0.8700000047683716);
	width:337px;
	height:32px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
}
.ei13_79350_7726_78981_6640_52020_9574_111411 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:62px;
}
.ei13_79350_7726_78981_6640_52020_9574_111411_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_7726_78981_6640_52020_9574_111411_9140_90475 { 
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_7726_78981_6640_52020_9574_111430 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:337px;
	height:96px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79350_7726_78981_6640_52020_9574_111413 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:166px;
}
.ei13_79350_7726_78981_6640_52020_9574_111413_9159_95435 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_7726_78981_6640_52020_9574_111413_9140_90469 { 
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79350_7726_78981_6640_52020_9574_111431 { 
	width:337px;
	height:32px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei13_79350_7726_78981_6640_52020_9574_111433 { 
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei13_79350_7726_78981_6640_52020_9574_111433_6588_47685 { 
	background-color:rgba(232.00000137090683, 234.00000125169754, 246.0000005364418, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.ei13_79350_7726_78981_6640_52020_9574_111433_6588_47687 { 
	width:49px;
	height:24px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei13_79350_7726_78981_6640_52020_9574_111433_6588_47688 { 
	color:rgba(63.000000044703484, 81.00000277161598, 181.0000044107437, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0.1599999964237213;
	line-height:px;
}
.e13_79351 { 
	box-shadow:0px 0px 0px rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:439px;
	position:absolute;
	left:536px;
	top:102px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79351_9543_98281 { 
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_9543_98281_9543_100222 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_9543_98281_9543_100222_9447_95052 { 
	width:64px;
	height:64px;
	position:absolute;
	left:152px;
	top:68px;
}
.ei13_79351_9543_98281_9543_100222_9447_95052_7475_59726 { 
	background-color:rgba(0, 0, 0, 0.25999999046325684);
	width:48px;
	height:48px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei13_79351_7726_78981 { 
	width:368px;
	height:246px;
	position:absolute;
	left:0px;
	top:200px;
}
.ei13_79351_7726_78981_6640_52020 { 
	width:336px;
	height:214px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei13_79351_7726_78981_6640_52020_9574_111410 { 
	color:rgba(25.000000409781933, 118.00000056624413, 210.00000268220901, 1);
	width:336px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.10000000149011612;
}
.ei13_79351_7726_78981_6640_52020_9574_111409 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:22px;
}
.ei13_79351_7726_78981_6640_52020_9574_111409_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_7726_78981_6640_52020_9574_111409_9140_90475 { 
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_7726_78981_6640_52020_9574_111405 { 
	color:rgba(0, 0, 0, 0.8700000047683716);
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
}
.ei13_79351_7726_78981_6640_52020_9574_111411 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:62px;
}
.ei13_79351_7726_78981_6640_52020_9574_111411_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_7726_78981_6640_52020_9574_111411_9140_90475 { 
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_7726_78981_6640_52020_9574_111430 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:336px;
	height:96px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79351_7726_78981_6640_52020_9574_111413 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:166px;
}
.ei13_79351_7726_78981_6640_52020_9574_111413_9159_95435 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_7726_78981_6640_52020_9574_111413_9140_90469 { 
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79351_7726_78981_6640_52020_9574_111431 { 
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei13_79351_7726_78981_6640_52020_9574_111433 { 
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei13_79351_7726_78981_6640_52020_9574_111433_6588_47685 { 
	background-color:rgba(232.00000137090683, 234.00000125169754, 246.0000005364418, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.ei13_79351_7726_78981_6640_52020_9574_111433_6588_47687 { 
	width:49px;
	height:24px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei13_79351_7726_78981_6640_52020_9574_111433_6588_47688 { 
	color:rgba(63.000000044703484, 81.00000277161598, 181.0000044107437, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0.1599999964237213;
	line-height:px;
}
.e13_79352 { 
	width:368px;
	height:200px;
	position:absolute;
	left:60px;
	top:102px;
	background-image:url(./image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79353 { 
	width:56px;
	height:56px;
	position:absolute;
	left:1323px;
	top:787px;
}
.ei13_79353_97_1648 { 
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79353_97_1648_6572_50290 { 
	width:24px;
	height:24px;
	position:absolute;
	left:16px;
	top:6px;
}
.ei13_79353_97_1648_6572_50290_7475_71000 { 
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:20px;
	height:18.350000381469727px;
	position:absolute;
	left:2px;
	top:2.8249998092651367px;
}
.ei13_79353_97_1648_6572_50291 { 
	width:32px;
	height:16px;
	position:absolute;
	left:12px;
	top:30px;
}
.ei13_79353_97_1648_6572_50292 { 
	color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:32px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.4000000059604645;
}
.e13_79354 { 
	width:56px;
	height:56px;
	position:absolute;
	left:370px;
	top:748px;
}
.ei13_79354_97_1648 { 
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79354_97_1648_6572_50290 { 
	width:24px;
	height:24px;
	position:absolute;
	left:16px;
	top:6px;
}
.ei13_79354_97_1648_6572_50290_7475_71000 { 
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:20px;
	height:18.350000381469727px;
	position:absolute;
	left:2px;
	top:2.8249998092651367px;
}
.ei13_79354_97_1648_6572_50291 { 
	width:32px;
	height:16px;
	position:absolute;
	left:12px;
	top:30px;
}
.ei13_79354_97_1648_6572_50292 { 
	color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:32px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.4000000059604645;
}
.e13_79355 { 
	width:56px;
	height:56px;
	position:absolute;
	left:847px;
	top:759px;
}
.ei13_79355_97_1648 { 
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79355_97_1648_6572_50290 { 
	width:24px;
	height:24px;
	position:absolute;
	left:16px;
	top:6px;
}
.ei13_79355_97_1648_6572_50290_7475_71000 { 
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:20px;
	height:18.350000381469727px;
	position:absolute;
	left:2px;
	top:2.8249998092651367px;
}
.ei13_79355_97_1648_6572_50291 { 
	width:32px;
	height:16px;
	position:absolute;
	left:12px;
	top:30px;
}
.ei13_79355_97_1648_6572_50292 { 
	color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:32px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.4000000059604645;
}
.e13_79356 { 
	width:368px;
	height:204px;
	position:absolute;
	left:536px;
	top:102px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(./image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79357 { 
	width:369px;
	height:200px;
	position:absolute;
	left:535px;
	top:556px;
	background-image:url(./image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79358 { 
	width:368px;
	height:203px;
	position:absolute;
	left:1011px;
	top:583px;
	background-image:url(./image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79359 { 
	width:368px;
	height:197px;
	position:absolute;
	left:60px;
	top:548px;
	background-image:url(./image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79361 { 
	width:75px;
	height:74px;
	position:absolute;
	left:360px;
	top:302px;
}
.ei13_79361_118_2939 { 
	width:64px;
	height:56px;
	position:absolute;
	left:5px;
	top:9px;
}
.ei13_79361_118_2939_106_3417 { 
	width:64px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79361_118_2939_106_3417_6572_50290 { 
	width:24px;
	height:24px;
	position:absolute;
	left:20px;
	top:6px;
}
.ei13_79361_118_2939_106_3417_6572_50290_7475_71000 { 
	background-color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:20px;
	height:18.350000381469727px;
	position:absolute;
	left:2px;
	top:2.8249998092651367px;
}
.ei13_79361_118_2939_106_3417_6572_50291 { 
	width:40px;
	height:16px;
	position:absolute;
	left:12px;
	top:30px;
}
.ei13_79361_118_2939_106_3417_6572_50292 { 
	color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:40px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.4000000059604645;
}
.e13_79362 { 
	width:75px;
	height:74px;
	position:absolute;
	left:837px;
	top:302px;
}
.ei13_79362_118_2939 { 
	width:64px;
	height:56px;
	position:absolute;
	left:5px;
	top:9px;
}
.ei13_79362_118_2939_106_3417 { 
	width:64px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79362_118_2939_106_3417_6572_50290 { 
	width:24px;
	height:24px;
	position:absolute;
	left:20px;
	top:6px;
}
.ei13_79362_118_2939_106_3417_6572_50290_7475_71000 { 
	background-color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:20px;
	height:18.350000381469727px;
	position:absolute;
	left:2px;
	top:2.8249998092651367px;
}
.ei13_79362_118_2939_106_3417_6572_50291 { 
	width:40px;
	height:16px;
	position:absolute;
	left:12px;
	top:30px;
}
.ei13_79362_118_2939_106_3417_6572_50292 { 
	color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:40px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.4000000059604645;
}
.e13_79363 { 
	width:377px;
	height:470px;
	position:absolute;
	left:1011px;
	top:102px;
}
.e13_79364 { 
	box-shadow:0px 0px 0px rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:470px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79364_9543_98281 { 
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_9543_98281_9543_100222 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:368px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_9543_98281_9543_100222_9447_95052 { 
	width:64px;
	height:64px;
	position:absolute;
	left:152px;
	top:68px;
}
.ei13_79364_9543_98281_9543_100222_9447_95052_7475_59726 { 
	background-color:rgba(0, 0, 0, 0.25999999046325684);
	width:48px;
	height:48px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei13_79364_7726_78981 { 
	width:368px;
	height:270px;
	position:absolute;
	left:0px;
	top:200px;
}
.ei13_79364_7726_78981_6640_52020 { 
	width:336px;
	height:238px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei13_79364_7726_78981_6640_52020_9574_111410 { 
	color:rgba(25.000000409781933, 118.00000056624413, 210.00000268220901, 1);
	width:336px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.10000000149011612;
}
.ei13_79364_7726_78981_6640_52020_9574_111409 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:22px;
}
.ei13_79364_7726_78981_6640_52020_9574_111409_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_7726_78981_6640_52020_9574_111409_9140_90475 { 
	width:16px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_7726_78981_6640_52020_9574_111405 { 
	background-color:rgba(255, 255, 255, 1);
    border: white;
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
}
.ei13_79364_7726_78981_6640_52020_9574_111411 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:62px;
}
.ei13_79364_7726_78981_6640_52020_9574_111411_9159_94617 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_7726_78981_6640_52020_9574_111411_9140_90475 { 
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_7726_78981_6640_52020_9574_111430 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:336px;
	height:120px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}
.ei13_79364_7726_78981_6640_52020_9574_111413 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:190px;
}
.ei13_79364_7726_78981_6640_52020_9574_111413_9159_95435 { 
	background-color:rgba(255, 255, 255, 0.003000000026077032);
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_7726_78981_6640_52020_9574_111413_9140_90469 { 
	width:32px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79364_7726_78981_6640_52020_9574_111431 { 
	width:336px;
	height:32px;
	position:absolute;
	left:0px;
	top:206px;
}
.ei13_79364_7726_78981_6640_52020_9574_111433 { 
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei13_79364_7726_78981_6640_52020_9574_111433_6588_47685 { 
	background-color:rgba(232.00000137090683, 234.00000125169754, 246.0000005364418, 1);
	width:57px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.ei13_79364_7726_78981_6640_52020_9574_111433_6588_47687 { 
	width:49px;
	height:24px;
	position:absolute;
	left:4px;
	top:4px;
}
.ei13_79364_7726_78981_6640_52020_9574_111433_6588_47688 { 
	color:rgba(63.000000044703484, 81.00000277161598, 181.0000044107437, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:6px;
	top:3px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0.1599999964237213;
	line-height:px;
}
.e13_79365 { 
	width:369px;
	height:212px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(./image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79366 { 
	width:75px;
	height:74px;
	position:absolute;
	left:302px;
	top:202px;
}
.ei13_79366_118_2939 { 
	width:64px;
	height:56px;
	position:absolute;
	left:5px;
	top:9px;
}
.ei13_79366_118_2939_106_3417 { 
	width:64px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79366_118_2939_106_3417_6572_50290 { 
	width:24px;
	height:24px;
	position:absolute;
	left:20px;
	top:6px;
}
.ei13_79366_118_2939_106_3417_6572_50290_7475_71000 { 
	background-color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:20px;
	height:18.350000381469727px;
	position:absolute;
	left:2px;
	top:2.8249998092651367px;
}
.ei13_79366_118_2939_106_3417_6572_50291 { 
	width:40px;
	height:16px;
	position:absolute;
	left:12px;
	top:30px;
}
.ei13_79366_118_2939_106_3417_6572_50292 { 
	color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:40px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.4000000059604645;
}
.e13_79367 { 
	background-color:rgba(21.000000648200512, 71.00000336766243, 52.000000700354576, 1);
	width:288px;
	height:960px;
	position:absolute;
	left:0px;
	top:64px;
}
.e13_79368 { 
	width:197px;
	height:208px;
	position:absolute;
	left:45px;
	top:74px;
	border-top-left-radius:41px;
	border-top-right-radius:41px;
	border-bottom-left-radius:41px;
	border-bottom-right-radius:41px;
	background-image:url(./image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79369 { 
	width:167px;
	height:42px;
	position:absolute;
	left:60px;
	top:338px;
}
.e13_79370 { 
	box-shadow:0px 3px 1px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:167px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79370_5213_94413 { 
	width:167px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79370_5213_94416 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:26px;
	position:absolute;
	left:22px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.46000000834465027;
	line-height:px;
}
.e13_79371 { 
	box-shadow:0px 3px 1px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:176px;
	height:42px;
	position:absolute;
	left:56px;
	top:424px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79371_5213_94413 { 
	width:176px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}

.sidebuttons {
	color:rgba(255, 255, 255, 1);
	background-color: #e87500;
	padding: 14px 28px;
	font-family:Roboto;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
  }

.e13_79372 { 
	box-shadow:0px 3px 1px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:115px;
	height:42px;
	position:absolute;
	left:93px;
	top:767px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79372_5213_94413 { 
	width:115px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79372_5213_94416 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:26px;
	position:absolute;
	left:22px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.46000000834465027;
	line-height:px;
}
.e13_79373 { 
	width:118px;
	height:42px;
	position:absolute;
	left:92px;
	top:516px;
}
.e13_79374 { 
	box-shadow:0px 3px 1px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(232.00000137090683, 117.00000062584877, 0, 1);
	width:118px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei13_79374_5213_94413 { 
	width:118px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_79374_5213_94416 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:26px;
	position:absolute;
	left:22px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.46000000834465027;
	line-height:px;
}
